.card {
  width: 18rem;
  border: 1px solid #eee;
  border-radius: 1rem;
  overflow: hidden;
}
.card-img {
  width: 100%;
}
.card-btn {
  padding: 5px;
  color: #fff;
  background: orange;
  border: none;
  border-radius: .5rem;
  display: block;
  text-decoration: none;
  width: max-content;
  margin: .5rem 1rem;
}
.card-body {
  padding: 0 1rem;
}
