.info {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}
.info-image {
  width: 100%;
}
.info-body {
  padding: .5rem 2rem;
}
.info-price {
  font-size: 2em;
}
.info-btn {
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  background: blue;
  color: #fff;
  margin: .5rem 2rem;
}
