.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.brand, .nav-item {
  text-decoration: none;
  color: #667;
}
.brand {
  font-size: 2em;
}
.nav-item {
  list-style-type: none;
  position: relative;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.title {
  margin: 2rem auto;
  width: max-content;
}
.nav-item::before  {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: orange;
  transition: .6s linear;
}
.nav-item:hover::before {
  width: 100%;
}

.active::before {
  width: 100%;
}
